


*.stash

*.o


*.user


Client/


*.Debug

*.Release



app/build-ServerTest-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/

build-Client-Server-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/

build-ClientSide-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/
